<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">MOBILES / TABLETS</h2>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 60%; height: 180px; border-radius: 21px 21px 0 0;">
          <a href="/mobile"><img src="/static/img/a4.png" height="100%" width="85%"></a>  
        </div>
      </div>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">LAPTOPS</h2>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 60%; height: 180px; border-radius: 21px 21px 0 0;">
          <a href="/laptop"><img src="/static/img/a5.jpg" height="100%" width="100%"></a>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">CAMERA</h2>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 60%; height: 180px; border-radius: 21px 21px 0 0;">
          <a href="/camera"><img src="/static/img/a6.jpg" height="100%" width="100%"></a>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">TELEVISION</h2>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 60%; height: 180px; border-radius: 21px 21px 0 0;">
          <a href="/tv"><img src="/static/img/a7.jpg" height="100%" width="100%"></a>
        </div>
      </div>
    </div>