    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/nav/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="static/nav/css/style.css"> <!-- Resource style-->
    <script src="static/nav/js/modernizr.js"></script> <!-- Modernizr -->

<body>
<header >
    <div class="cd-logo"><a href="/"><img src="static/nav/img/cd-logo.svg" alt="Logo"></a></div>

    <style type="text/css">
	@media only screen and (min-width: 1024px) {
  	.mob{
    	display: none !important ;
    	visibility: hidden !important ;
  }
    </style>


    <nav class="cd-main-nav-wrapper" >
        <ul class="cd-main-nav">
            <li><a href="/">Home</a></li>
            {% if not session.logged_in %}
            <li><a href="/signup">Register</a></li>
            <li><a href="/login">User Login</a></li>
            <li><a href="/login_comp">Company Login</a></li>
            {% endif %}
            <li><a href="#abc">Contact</a></li>
            {% if session.logged_in %}
            <li><a href="/dashboard"> User Profile </a></li>
            <li class="mob"><a href="/user" > User Profile </a></li>
            <li>
                <a href="/logout" ><span>Logout</span></a>
                <a href="#0" class="cd-subnav-trigger"><span>Categories</span></a>
                <ul>
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li><a href="/phones">Phones</a></li>
                    <li><a href="/laptops">Laptops</a></li>
                    <li><a href="#0">Gadgets</a></li>
                    <li><a href="#0" class="placeholder">Placeholder</a></li>
                    
                </ul>
            </li> 
            {% endif %}
        </ul> <!-- .cd-main-nav -->
    </nav> <!-- .cd-main-nav-wrapper -->

    <a href="#0" class="cd-nav-trigger" id="catNav"><span></span></a>
</header>
<div> </div>
<script src="static/nav/js/jquery-2.1.1.js"></script>
<script src="static/nav/js/main.js"></script> <!-- Resource jQuery -->
</body>
