{% extends 'l1.html' %}
{% block body%}
	<h1>Articles</h1>



<meta name="viewport" content="width=device-width, initial-scale=1">
<style> 
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>

<form>
  <input type="text" name="search" placeholder="Search..">
</form>




	<ul class="list-group"></ul>
	{% for article in articles%} 
	<li class="list-group-item"> <a href="article/{{article.id}}">{{article.title}}</a></li>
	
	{%endfor%}
{% endblock %}	

<!-- <li class = "list-group-item"> {{article.title}}, {{article.id}}  </li>

-->
