<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body style="background-color: black;">

    <style>
      .flashmsg{
      margin: 40;
      margin-left: -9;
      padding: 20;
      font-size: larger;
      width: 100%;
      }
    </style>

    <div  style="margin-top:100px"  class="flashmsg" >
      {% include 'include/flashMessages.html' %}
    </div>
	<div class="container" style="color: white;"> 
	{% block body %}{% endblock %} </div>
	
	<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	 <script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
		 <script type="text/javascript">CKEDITOR.replace('editor')</script>	

	<!--<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script> 
	<script>ClassicEditor
        .create(document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
    </script> -->    
	<!--<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	
<script>
  tinymce.remove();
    tinymce.init({
        selector: 'textarea',

        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        },
        height: 350,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code',
          'textcolor'
        ],
        toolbar: 'undo redo | insert | styleselectfontselect fontsizeselect | forecolor backcolor | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: '//www.tinymce.com/css/codepen.min.css'
    });

    </script>
-->
</body>
</html>