{% extends "l2.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

	<link href="static/paper/assets/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="static/paper/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS   --> 
    <link href="static/paper/assets/css/paper-dashboard.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="static/paper/assets/css/themify-icons.css" rel="stylesheet">
<title>rexTechnica </title>
</head>
<body>


<style>
      .flashmsg{
      <!--margin: 40;
      margin-left: -9;-->
      padding: 20;
      font-size: larger;
      width: 100%;
      }
    </style>

    <div  class="flashmsg" >
      {% include 'include/flashMessages.html' %}
    </div>
<h1 align=center>
Articles
</h1>
<a class="btn btn-success pull-right" href ="/add_article">Add Article</a>

<div class='table-responsive'>
<table class="table table-striped">

	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>Date</th>
		<th></th>
		<th></th>
	</tr>
	{%for article in articles%}
	<tr>
		<td>{{article.id}}</td>
		<td>{{article.title}}</td>
		<td>{{article.author}}</td>
		<td>{{article.create_date}}</td>
		<td><a href="edit_article/{{article.id}}" class="btn btn-info float-right">Edit</a></td>
		<td>
			<form action="{{url_for('delete_article',id=article.id)}}" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="Delete" class="btn btn-danger">	
			</form>
		</td>
	</tr>
	{%endfor%}
</table>
 <div style="overflow-x:auto;">
</body>
</html>
{% endblock %}
