<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Checkout Form</title>
  
  
  
      <link rel="stylesheet" href="static/static/css/style.css">

  
</head>

<body>
  <div class="container">
		<h1>Checkout Form</h1>
		<form class="form cf">
			<section class="plan cf">
				<h2>Choose a plan:</h2>
				<input type="radio" name="radio1" id="free" value="free"><label class="free-label four col" for="free">Free</label>
				<input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col" for="basic">Basic</label>
				<input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col" for="premium">Premium</label>
			</section>
			<section class="payment-plan cf">
				<h2>Select a payment plan:</h2>
				<input type="radio" name="radio2" id="monthly" value="monthly" checked><label class="monthly-label four col" for="monthly">Monthly</label>
				<input type="radio" name="radio2" id="yearly" value="yearly"><label class="yearly-label four col" for="yearly">Yearly</label>
			</section>
			<section class="payment-type cf">
				<h2>Select a payment type:</h2>
				<input type="radio" name="radio3" id="credit" value="credit"><label class="credit-label four col" for="credit">Credit Card</label>
				<input type="radio" name="radio3" id="debit" value="debit"><label class="debit-label four col" for="debit">Debit Card</label>
				<input type="radio" name="radio3" id="paypal" value="paypal" checked><label class="paypal-label four col" for="paypal">Paypal</label>
			</section>	
			<input class="submit" type="submit" value="Submit">		
		</form>
	</div>
  
  
</body>
</html>
