<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="icon" href="static/img/logo.png" type="image/gif" sizes="16x16">

    <title>rexTechnica </title>

    <!-- Bootstrap core CSS -->
    <link href="static/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/static/css/product.css" rel="stylesheet">

  </head>

  <body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/static/js/popper.min.js"></script>
    <script src="static/static/js/bootstrap.min.js"></script>
    <script src="static/static/js/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>

    {% include 'include/navbar.html' %}
    <style>
      .flashmsg{
      margin: 40;
      margin-left: -9;
      padding: 20;
      font-size: larger;
      width: 100%;
      }
    </style>

    <div  style="margin-top:100px"  class="flashmsg" >
      {% include 'include/flashMessages.html' %}
    </div>
    {% block body %}
    {% endblock %}
    <main></main>
   


  </body>
</html>

