<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Change Password</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/form-1/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/form-1/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/form-1/assets/css/form-elements.css">
        <link rel="stylesheet" href="static/form-1/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <!-- <link rel="shortcut icon" href="static/form-1/assets/ico/favicon.png"> -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/form-1/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/form-1/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/form-1/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/form-1/assets/ico/apple-touch-icon-57-precomposed.png">
        

    </head>

    <body>
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg" style="    background-image: url(/static/form-1/assets/img/backgrounds/1@2x.jpg);">
                <div style="margin-top:-6%">{% include 'include/flashMessages.html' %}</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box"  style="margin-left: 20%">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Confirm your identity</h3>
                            		<p>Enter your Email and password :</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form" name="password_update">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-email">Email</label>
			                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
			                        </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="new-password" placeholder="Enter your new password..." class="form-password form-control" id="new-pass">
                                    </div>
			                        <button type="submit" class="btn">Update Password</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="static/form-1/assets/js/jquery-1.11.1.min.js"></script>
        <script src="static/form-1/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/form-1/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/form-1/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>