<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="static/dashPhone/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="static/dashPhone/css/style.css"> <!-- Resource style -->
	<script src="static/dashPhone/js/modernizr.js"></script> <!-- Modernizr -->
  	</head>
<body>
	<div class="cd-intro-block">
		<div class="content-wrapper">
			<h1>Smartphones</h1>
			<a href="#0" class='cd-btn' data-action="show-projects" style="
    font-size: 1.1rem;">Show products</a>
			<br><br><br>
			<a href="/dashboard" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span><span class="glyphicon glyphicon-edit"></span> Back to Dashboard</a>	
		</div>
	</div> 
	
<script>
function prod1() {
window.open("/phones/iphoneX","_self");
}
function prod2() {
window.open("/phones/pixel2","_self");
}
function prod3() {
window.open("/phones/SamsungS8","_self");
}
function prod4() {
window.open("/phones/oneplus5T","_self");
}
</script>



	<!-- .cd-intro-block -->
	<div class="cd-projects-wrapper">
		<ul class="cd-slider">
			<li class="current" onclick="prod1()" >
				<a href="#0" >
					<img src="static/dashPhone/img/iphonex.jpg" alt="project image">
					<div class="project-info">
						<h2>Iphone X</h2>
						<p>Apple Inc</p>
					</div>
				</a>
			</li>

			<li onclick="prod2()">
				<a href="#0">
					<img src="static/dashPhone/img/pixel2.jpg" alt="project image">
					<div class="project-info">
						<h2>Pixel 2</h2>
						<p>Google</p>
					</div>
				</a>
			</li>

			<li onclick="prod3()">
				<a href="#0">
					<img src="static/dashPhone/img/S8.jpg" alt="project image">
					<div class="project-info">
						<h2>Samsung S8</h2>
						<p>Samsung</p>
					</div>
				</a>
			</li>

			<li onclick="prod4()">
				<a href="#0">
					<img src="static/dashPhone/img/oneplus.jpg" alt="project image">
					<div class="project-info">
						<h2>OnePlus 5T</h2>
						<p>OnePlus</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="static/dashPhone/img/img.png" alt="project image">
					<div class="project-info">
						<h2>Project 5</h2>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="static/dashPhone/img/img.png" alt="project image">
					<div class="project-info">
						<h2>Project 6</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="static/dashPhone/img/img.png" alt="project image">
					<div class="project-info">
						<h2>Project 7</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</a>
			</li>
			
			<li>
				<a href="#0">
					<img src="static/dashPhone/img/img.png" alt="project image">
					<div class="project-info">
						<h2>Project 8</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="static/dashPhone/img/img.png" alt="project image">
					<div class="project-info">
						<h2>Project 9</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</a>
			</li>
		</ul>

		<ul class="cd-slider-navigation cd-img-replace">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-slider-navigation -->
	</div> <!-- .cd-projects-wrapper -->

	<!--<div class="cd-project-content">
		<div>
			
			<h2>Project title here</h2>
			<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ullam.</em>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus. 
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
		
		</div>
	-->

		<a href="#0" class="close cd-img-replace">Close</a>
	</div> <!-- .cd-project-content -->
<script src="static/dashPhone/js/jquery-2.1.4.js"></script>
<script src="static/dashPhone/js/jquery.mobile.custom.min.js"></script>
<script src="static/dashPhone/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>